
    <div class="section section-margin">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 m-b-30">
                    <div class="about-image service-layer-image">
                        <img data-aos="fade-left" class="about-image-1 img-fluid" id="about-image-1" alt="About Image" src="https://brandon-lee-last.github.io/WasteGlassRecovery/assets/images/Image1.jpeg">
                        <img data-aos="fade-left" class="about-image-2 img-fluid" id="about-image-2" alt="About Image" src="https://brandon-lee-last.github.io/WasteGlassRecovery/assets/images/Image2.jpeg">
                    </div>
                </div>
                <div class="col-lg-6 m-b-30">
                    <div class="about-content mw-100">
                        <div data-aos="fade-up" class="banner-content section-heading">
                            <h5>Waste Glass Recovery</h5>
                            <h2 class="banner-title">OUR HISTORY</h2>
                            <div class="title-icon-divider"><i class="fas fa-suitcase-rolling icons"></i></div>
                        </div>
                        <p>Established in 2018, Waste Glass Recovery PTY Ltd embarked on a mission that transcends mere business objectives. Our purpose: to contribute significantly to a greener planet by recycling waste glass, reducing pollution, and fostering environmental consciousness.</p>
                        <p>In the nascent years, our operations spanned a broad spectrum of recyclable materials—scrap metal, plastic, and glass. However, destiny steered us toward a remarkable revelation: the soaring demand for glass recycling. With unwavering resolve, we recalibrated our focus exclusively to glass. Our journey began modestly, supplying 300 tons of glass per month to Consol. Today, we stand as a formidable force, handling a staggering 3000 tons monthly. Our reach extends beyond Gauteng; we traverse the entire province, collecting glass from every corner.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


    <div class="container left-align" data-aos="fade-left" >
        <div class="row center-align">
            <div class="col-md-6" class="image-aboutUS">
                <img src="https://brandon-lee-last.github.io/WasteGlassRecovery/assets/images/gallery/galleryImages/IMG4.jpeg" alt="Image" class="img-fluid-2">
            </div>
            <div class="col-md-6">
                <h2 class="banner-title">OUR <span>MISSION</span></h2>
                <p>In the heart of our glass crushing business lies a powerful mission: empowering sustainability. Since 2014, Waste Glass Recovery has been at the forefront of glass recycling, supplying Mpact Recycling with high-quality glass for their recycling efforts. Through our partnership, we’ve made a significant difference in the amount of glass diverted from landfills. Recycling glass isn’t just about environmental responsibility; it’s a tangible step toward reducing pollution and conserving resources. Our mission extends beyond profit margins—it’s about leaving a lasting legacy of cleaner air, clearer oceans, and a healthier planet.</p>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="container right-align" data-aos="fade-right">
        <div class="row center-align">
            <div class="col-md-6">
                <h2 class="banner-title">OUR <span>VISION</span></h2>
                <p>Our vision transcends mere business aspirations; it’s a bold declaration of purpose. We envision Waste Glass Recovery as the pinnacle of the glass supply industry. Our commitment to quality, sustainability, and innovation will set new benchmarks. As we forge ahead, our gaze extends beyond the horizon—we see ourselves as a ubiquitous presence across South Africa. From bustling cities to remote villages, our glass recycling efforts will touch lives, create jobs, and empower communities. We’re not just building a business; we’re weaving a tapestry of environmental consciousness, economic growth, and shared prosperity.</p>
            </div>
            <div class="col-md-6" class="image-aboutUS">
                <img style="margin-right: -200px !important; " src="https://brandon-lee-last.github.io/WasteGlassRecovery/assets/images/gallery/galleryImages/IMG6.jpeg" alt="Image" class="img-fluid-right">
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="container left-align" data-aos="fade-left">
        <div class="row center-align">
            <div class="col-md-6" class="image-aboutUS">
                <img src="https://brandon-lee-last.github.io/WasteGlassRecovery/assets/images/gallery/galleryImages/IMG3.jpeg" alt="Image" class="img-fluid-2">
            </div>
            <div class="col-md-6">
                <h2 class="banner-title">OUR <span>VALUES</span></h2>
                <p>At Waste Glass Recovery, our values are the bedrock of our existence. Integrity guides our every decision, from sourcing glass to delivering it to Ardagh Glass Packaging-Africa. We believe that transparency and honesty build lasting relationships, and ethical practices are non-negotiable. Our journey is one of collaboration—with our partners, employees, and the communities we serve. Together, we amplify our impact, turning glass shards into opportunities and shared prosperity. And woven into our DNA is an unwavering commitment to environmental stewardship. We don’t just recycle glass; we nurture the planet, one bottle at a time. Our values aren’t mere words—they’re the compass that steers us toward a brighter, cleaner future. 🌍♻️</p>
            </div>
        </div>
    </div>

