<section class="pb-5 pt-5" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Our Services</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <a href="https://bit.ly/2LHKl61" class="services-small-item active">
                    <div class="icon">
                        <i class="far fa-check-square"></i>
                    </div>
                    <h5 class="services-title">Lorem Ipsum</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
                <div class="item-bg"></div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://bit.ly/2LHKl61" class="services-small-item">
                    <div class="icon">
                        <i class="fa fa-bed"></i>
                    </div>
                    <h5 class="services-title">Lorem Ipsum</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
                <div class="item-bg"></div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://bit.ly/2LHKl61" class="services-small-item">
                    <div class="icon">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <h5 class="services-title">Lorem Ipsum</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
                <div class="item-bg"></div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://bit.ly/2LHKl61" class="services-small-item">
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <h5 class="services-title">Lorem Ipsum</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
                <div class="item-bg"></div>
            </div>
        </div>
    </div>

<div class="section">
  <p>
    With todays technology growing at such a fast pace, websites have to keep up with all the different devices that can browse the web. Responsive design is a giant leap forward for allowing all these devices to view appropriate data on our sites. The problem is sometimes the data we would show on a device like a computer would and should have more information then what you want to show a person on a device like a phone. With this plugin we trim down paragraphs for mobile users allowing for a better viewing while still allowing them access to all the information.
    <a href="#" class="reduce">Reduce Text</a>
  </p>
  <h2>Works per paragraph</h2>
  <p>
    This plugin works on per paragraph basis so each one can be expanded and contracted for maxium mobile friendliness. =)
    <a href="#" class="reduce">Reduce Text</a>
  </p>
  <h2>Works on short &amp; long paragraphs</h2>
  <p>
    No matter how long or short your paragraph is, you can add easily add or remove the plugin to suite your needs. Don't want the plugin to shorten your text? Don't add the recude link and it wont!
  </p>
</div>
</section>